/* TODO check theme is AA */

:root {
  /* Generics */
  --very-dark-cyan: #002727;

  --dark-cyan: #1ca086;
  --moderate-cyan: #339999;
  --moderate-cyan-faded: #33999980;
  --moderate-cyan-faded-more: #33999940;

  --moderate-lime: #248824;
}

.theme {
  background-color: var(--bg);
  color: var(--text-colour);
}

.theme--light {
  --bg: #fff;
  --text-colour: #000;
  --text-title-colour: #000;

  --primary-colour: var(--moderate-cyan);
  --primary-contrast: #fff;

  --link-colour: var(--moderate-lime);
  --table-border-colour: var(--moderate-cyan-faded);
  --table-cell-border-colour: var(--moderate-cyan-faded-more);
}
.theme--dark {
  --bg: var(--very-dark-cyan);
  --text-colour: #fff;
  --text-title-colour: #fff;

  --primary-colour: var(--moderate-cyan);
  --primary-contrast: #fff;

  --link-colour: var(--dark-cyan);
  --table-border-colour: var(--moderate-cyan-faded);
  --table-cell-border-colour: var(--moderate-cyan-faded-more);
}

.season-link {
  &:hover {
    color: var(--link-colour);
  }
}

// Reset button styles
button {
  background: none;
  border: none;
  cursor: pointer;
}
