:root {
  /* Generics */
  --very-dark-cyan: #002727;

  --dark-cyan: #1ca086;
  --moderate-cyan: #2a7e7e;
  --moderate-cyan-faded: #33999980;
  --moderate-cyan-faded-more: #33999940;

  --moderate-lime: #248824;

  --danger-colour: #ff0000;
}

.theme {
  background-color: var(--bg);
  color: var(--text-colour);

  --radio-toggle--box-shadow-colour: var(--moderate-cyan);

  --scroll-top-button--background: var(--moderate-cyan);
  --scroll-top-button--background-hover: var(--moderate-cyan-faded);
  --scroll-top-button--colour: #fff;
}

.theme--light {
  --bg: #fff;
  --text-colour: #000;
  --text-title-colour: #000;

  --primary-colour: var(--moderate-cyan);
  --primary-contrast: #fff;

  --link-colour: var(--moderate-lime);
  --table-border-colour: var(--moderate-cyan-faded);
  --table-cell-border-colour: var(--moderate-cyan-faded-more);
}
.theme--dark {
  --bg: var(--very-dark-cyan);
  --text-colour: #fff;
  --text-title-colour: #fff;

  --primary-colour: var(--moderate-cyan);
  --primary-contrast: #fff;

  --link-colour: var(--dark-cyan);
  --table-border-colour: var(--moderate-cyan-faded);
  --table-cell-border-colour: var(--moderate-cyan-faded-more);
}

.season-link {
  &:not(.season-link--no-hover):hover {
    color: var(--link-colour);
  }
}

.hig-nav-link {
  &:focus,
  &:hover,
  &:active {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);
  }
}

// Overrides
.radio-toggle__control {
  top: 0 !important;
}

.clearable-input__input {
  background: inherit;
  color: inherit;
}
.select-box {
  background-color: var(--bg);
  color: var(--text-colour);
}

.has-float-label .select-box:focus,
.has-float-label .clearable-input__input:focus {
  border-color: var(--primary-colour);
}
.has-float-label .select-box--with-background:focus {
  border-color: var(--primary-contrast);
}

.hide-carry-overs.hide-carry-overs {
  margin: 0 10px;

  &::before {
    color: var(--text-colour);
  }

  &--with-background::before {
    color: var(--primary-contrast);
  }
}

.error-block {
  color: var(--danger-colour);
  font-size: 0.66rem !important;
  padding: 5px !important;
  margin: 2px 5px;
}
.clearable-input__count {
  bottom: -0.85rem !important;
}
